<div class="card my-5">
  <div class="panel-heading">
      <h2>Update Department</h2>
    </div>
  <div class="card-body">
    <div style="width: 400px;">
      <form (ngSubmit)="onSubmit()" #updateDeptForm="ngForm">
        <div class="form-group">
          <label for="name">Department Name</label>
          <input type="text" class="form-control" id="deptName" required [(ngModel)]="department.deptName" name="deptName" 
          placeholder="Enter Department Name" #deptName="ngModel">
          <div [hidden]="deptName.valid || deptName.pristine" class="alert alert-danger">Department Name is required</div>
        </div>
        <button type="submit" [disabled]="!updateDeptForm.form.valid" class="btn btn-info">Submit</button>
      </form>
    </div>
  </div>
</div>
