<div class="card my-5">
    <div class="panel-heading">
        <h2>Employee List</h2>
      </div>
    <div class="card-body">
      <table class="table table-bordered table-striped">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Emp ID</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Email Id</th>
            <th scope="col">Department Name</th>
            <th scope="col">Actions</th>
         </tr>
        </thead>
        <tbody>
          <tr *ngFor="let employee of employees">
            <td>{{ employee.empId }}</td>
            <td>{{ employee.firstName }}</td>
            <td>{{ employee.lastName }}</td>
            <td>{{ employee.emailId }}</td>
            <td>{{ employee.deptName }}</td>
            <td>
                <button (click)="updateEmployee(employee.empId)" class="btn btn-info" style="margin-left: 10px">Update</button>
                <button (click)="employeeDetails(employee.empId)" class="btn btn-info" style="margin-left: 10px">Details</button>
                <button (click)="deleteEmployee(employee.empId)" class="btn btn-danger" style="margin-left: 10px">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>